.NavBar {
  background-color: #f8f8f8;
  height: 100px;
  z-index: 2;
}

.Logo img {
  width: 50px;
  height: auto;
}

.Active {
  text-decoration: underline;
}
  
.NavLink:hover {
  text-decoration: underline;
  color:rgb(10, 10, 90);
}

.NavLink {
  font-family: 'Nanum Myeongj';
  color: rgb(51, 93, 151);
  margin-top: 20px;
}

.Name {
  font-family: 'Nanum Myeongj';
  font-size: 1.2rem;
  color: rgb(51, 93, 151);
  margin-top: 12px;
}

.Dropdown {
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .NavToggle {
    background-color: #fff;
    width: 150px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .NavLink, .Name {
    margin-top: 0;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.8rem;
  }
}