.NavBarSecond {
  margin-top: 100px;
  background-color: #f8f8f8;
  z-index: 1;
}
  
.NavBarSecond .NavToggle .NavLink {
  font-family: 'Nanum Myeongj';
  color: rgb(35, 78, 139);
}
  
.NavLink:hover {
  text-decoration: underline;
  color:rgb(10, 10, 90);
}

.SpaceLeft {
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .NavToggle {
    background-color: #fff;
    width: 180px;
    border: 1px solid #ccc;
    padding-left: 10px;
  }

  .SpaceLeft {
    margin-left: 0;
  }
}