.NavBarSecond {
  margin-top: 100px;
  background-color: #f8f8f8;
  z-index: 1;
}

.NavBarSecond .NavToggle .NavLink a {
  font-family: "Nanum Myeongj";
  color: rgb(35, 78, 139);
}

.NavBarSecond .NavToggle .NavLink {
  font-family: "Nanum Myeongj";
  color: rgb(35, 78, 139);
}

.NavLink:hover {
  text-decoration: underline;
  color: rgb(10, 10, 90);
}

.NavDropdownItem {
  margin-left: 10px;
}

.PoemsDropdown {
  margin-left: 15px;
  background-color: #f8f8f8;
  border: none;
  outline: none;
  font-size: 1.2rem;
  margin-top: 1px;
}

.PoemsDropdown:hover {
  background-color: #f8f8f8;
  color: rgb(10, 10, 90);
  border: none;
  outline: none;
  text-decoration: underline;
}

.PoemsDropdown:active {
  background-color: #f8f8f8;
  color: rgb(10, 10, 90);
  border: none;
  outline: none;
  text-decoration: underline;
}

.PoemsMenu {
  width: 160px;
  background-color: #fff;
  border: solid 1px #ccc;
  position: absolute;
  top: 60px;
  left: 30px;
  font-size: 1rem;
}

.PoemsMenu a {
  color: rgb(35, 78, 139);
}

@media screen and (max-width: 767px) {
  .NavToggle {
    background-color: #fff;
    width: 180px;
    border: 1px solid #ccc;
    padding-left: 10px;
  }

  .SpaceLeft {
    margin-left: 0;
  }
}
