.ProfileName {
  font-size: 1.5rem;
}

.ProfileText {
  font-size: 1rem;
}

.FeaturedName {
  font-size: 1.2rem;
}
.ProfileInfoSmall {
  display: none;
}

.ProfileLabel {
  font-size: 1rem;
  line-height: 1rem;
}

.XSLayout {
  display: none;
}

.Mobile {
  width: 100%;
}

@media screen and (max-width: 490px) {
  .SmallLayout {
    display: none;
  }

  .XSLayout {
    display: block;
  }

  .Name {
    font-size: 1.3rem;
  }

  .DateJoined {
    font-size: 1rem;
  }

  .MemberInfo {
    width: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 460px) {
  .ProfileInfo {
    display: none;
  }

  .ProfileInfoSmall {
    display: block;
  }

  .CardSpace {
    margin: 0;
    padding: 0;
  }
}
